<%  idx = 1 %>
<% while idx <= 50 %>
  <% if idx % 2 == 0 %>
    <%= "<h1>#{idx} Soy Par!</h1>" %>
  <% else %>
    <%= "<h1>#{idx} Soy Impar!</h1>" %>   
  <% end %>
  <% idx += 1 %>
<% end %>
